html, body {
    background-color: #ece4e4;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column; /* Imposta una colonna verticale per il layout */
    min-height: 100vh; /* Assicura che il wrapper occupi l'intera altezza della finestra */
}

.content {
    flex: 1; /* Spinge il footer in basso */
    padding: 20px;
    text-align: center;
}


h1{
    text-align: center;
}
hr{
    margin-bottom: 40px; 
}

.Forms {
    background-color: rgb(200,74,11,0.5);
    display: inline-flex; 
    margin-top: 10px;
    text-align: justify;
    box-shadow: 0 0 15px rgba(200, 74, 11, 0.8);
    border-radius: 10px;
    padding: 10px; 
}

.signUpForm, .loginForm {
    width: 300px; 
    padding: 20px;
    box-sizing: border-box; 
}

.loginForm {
    border: 3px solid rgba(200, 74, 11, 0.7);
    background-color: #ece4e4;
    border-radius: 10px;
}   

.signUpForm {
    margin-right: 0px;  
    border: 3px solid rgba(200, 74, 11, 0.7);
    background-color: #ece4e4;  
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #333; 
    font-weight: bold; 
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 

 /* Include padding e border nella larghezza */
  margin-bottom: 10px;
  background-color: #f0f8ff; 
}

input[type="submit"] {
    background-color: #ff7f50; /* Arancione */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Testo in grassetto */
    transition: background-color 0.3s ease;
}

.error {
    color: red;
    font-size: 14px;
    display: none; /* Nascondere inizialmente i messaggi di errore */
    margin-bottom: 10px 

}


.button {
    background-color: #ff7962; /* Arancione */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; 
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #941600; /* Arancione scuro */
}

#submitButton{
    text-align: center;
    font-size: 18px; 
    margin-top: 5px;
}


.intro-text {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.form-section {
    margin: 0px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#formSectionSu{
    border-radius: 10px 0 0 10px;
    border-right: 2px solid #2c3e50; 
}

#formSectionL{
    border-radius: 0 10px 10px 0; 
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ff7962;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}




