html, body {
    background-color: #ece4e4;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.sfondo {
    flex: 1;
    background-position: 50% 20%;
    height: 75%;
    background-image: url('Background.png');    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4); /* Sfrutto rgba  */
    background-blend-mode: darken; /* Mette in risalto i colori scuri */ 
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.title{
    font-size: 24px;
    font-weight: bold;
    color: #941600;
    margin-bottom: 20px;
}

.text{
    font-size: 18px;
    color: #2f0701;
    margin-bottom: 20px;
    width: 50%;
    text-align: justify;
}

.button {
    background-color: #ff7962;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; 
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #941600; 
}