
body{
    background:  
    linear-gradient(to left, transparent 50%, #e8e8e8 95%), url('python.jpg');
    background-size: cover;
}
 
hr{ /*Linea*/
    border: 2px solid #e1e1e1; /* Spessore, stile e colore del bordo */
    margin: 0 0; /* Margini superiore e inferiore */
}
.Sezioni{
    position: relative;
    width: 100%; /* Specifica la dimensione con width e height */
    height: auto; 
}

/*N.B. Quando un elemento ha position: absolute, viene posizionato rispetto al primo elemento antenato (genitore, nonno, ecc.) che ha una proprietà di posizionamento diversa 
da static (ovvero, relative, absolute, fixed, o sticky). Se non trova un antenato con queste proprietà, si posizionerà rispetto alla finestra del browser.
Impostando .Sezioni con position: relative, stiamo dicendo a .testoSfocato di posizionarsi all'interno dei confini di .Sezioni. In altre parole, testoSfocato sarà 
ancorato all'elemento .Sezioni invece che alla finestra del browser. Per gestire le sovrapposizioni uso invece lo z-index*/

#testoSfocato{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff8f;
    filter: blur(13px);
    z-index: 1;
}

.Sezioni ul{
    position: relative;
    z-index: 2;
    color: black;
    padding: 20px;
    box-shadow: inset 0 0 18px 11px #cbc9c200, -2px 1px 11px 16px #b9b8b5a1;  
    border-width: 1px;
    border-radius: 25px;
    text-align: center;
}

.Sezioni li{
    font-size: 30px;
    display: inline;
    margin-right: 30px;
}

.SezTitolo{
    display: inline;
    color: #276b27;
    text-decoration: none;
}

.Sezioni li a:hover{
    background-color: #000000;
}




/*creo una classe contenuto per separare il contenuto dallo sfondo*/

.contenuto {
    /*background-color: white; */
    padding: 10px;
    margin: 10px;
} /* --> Con questa aggiungo uno "sfondo", ma solo al contenuto e lascio in background il precedente */

fieldset {
    /*max-width: 10%; Posso rimuovere il max-width se presente float*/
    border-radius: 10px;
    border: 5px dotted rgb(15, 15, 15);
    text-align: justify;
    float: left;
    margin-right: 30px;
}

input[type*="text"]{    /*Ho dato una proprietà CSS solo all'attributo type = text */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #002ead;
}

input[type*="password"]{
    width: 183px;
    height: 20px;
}

h1{
    text-align: center;
    font-size: 44px;
    text-shadow: 10px 0px 5px rgb(165, 161, 161); 
    /*HO aggiunto un ombra al testo, posso aggiungerne anche più di una per creare "contorni e altre cose*/                                      
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px; /* Crea spaziatura tra il contenuto e il bordo*/
}

button{
    background-color: azure;
    margin-top: 10px ;
    width: 170px;
    height: 35px;
    background-color: #0a0a23;
    color: #fff;
    transition: 0.1s;
}

button:hover {
    background-color: #002ead;
    
}

#folle:link {
    color: blue;
}

#folle:visited{
    color: rgb(81, 3, 120);
}

.ImmagineAnimata{
    margin-right: 20px;
    float:left;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-timing-function: linear;
    /*transition-delay: 1s;  --> delay da quando ci passa il mouse rispetto a quando parte l'animazione*/ 
}

.ImmagineAnimata:hover{
    transform: scale(2) rotate(180deg);
    /*posso applicare un ulteriore transizione dopo tot tempo, ma serve JavaScript*/   
}


#testoSottoImmagineErosso{
    clear: both;
    color:rgb(0, 0, 0);
}

.testoBianco{
    text-align: justify;
    color: rgb(0, 0, 0);
}

#FixedTest{
    position: fixed;
    color: white;
}

#StaticTest{
    position: static;
    color: white;
}

#AbsoluteTest{
    position: absolute;
    color: white;
}

#RelativeTest{
    position: relative;
    color: white;
}

.footer{
    position:absolute;
    bottom:0;
    left:0;
width:100%;
}

/*Provare ad usare animation su un'immagine*/



