body{
    font-family:Arial;
    background-color: #eeeeee;
    color: black; 
}

h2{
    text-align: center;
}

li::first-line{
    color: black;
    font-weight: bold;
}

#posing{
    position: relative;
    left: 200px;
}

#immagine-animata{
    
    float: left;
    transition: all 0.5s ease-out;
}

#immagine-animata:hover {
    transform: rotate(180deg);
    
}

/*p::first-line{
    color: blue;
} --> Al posto di usare il first line e cambiare il colore della prima riga*/ 


/* esempi di custom properties; per funzionare devo aggiungere un footer*/

:root{
    --header-footer-color: green;
    --nav-aside-color: rgb(117,48,130);
}

header{
    background-color: var(--header-footer-color);
    color: #fff;
    padding: 0px;
    text-align: center;
}

#titoloBlu{ /* Questo è un id e può essere usato solo su un singolo elemento, se voglio usare questo stile per più elementi devo usare una classe */
    color:blue;
    font-weight: bold;
}

.titoloBlu{
    color: blue;
    font-weight: bold;
}

.testoSottoImmagine{
    clear:both;
}
#Palle{
    font-size: 22px;
}
