body{
    font-family:Arial;
    background-color: #eeeeee;
    color: black; 
}

h2{
    text-align: center;
}

li::first-line{
    color: black;
    font-weight: bold;
}

#posing{
    position: relative;
    left: 200px;
}

.immagine-animata{
    transition: all 0.5s ease-out;
}

.immagine-animata:hover {
    transform: rotate(180deg);
    
}

p::first-line{
    color: blue;
}


/* esempi di custom properties; per funzionare devo aggiungere un footer*/

:root{
    --header-footer-color: green;
    --nav-aside-color: rgb(117,48,130);
}

header{
    background-color: var(--header-footer-color);
    color: #fff;
    padding: 0px;
    text-align: center;
}