html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#sfondo {
    background-position: 50% 20%;
    height: 75%;
    background-image: url('Background.png');    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;    
    
}

/* Stile del contenitore del logo */
#logo-image-container {
    flex-basis: 100px;
    max-width: 100px;
    flex-shrink: 1;
    float: left;
}

/* Stile generale dell'header */
.header {
    background-color: transparent;
    
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background 200ms ease-in-out;
}

/* Menu e layout */
.menu {
    display: flex;
    margin-left: auto;
    min-height: 40px;
    max-width: 100%;
    
    align-items: center;
}

#main-menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-family: Montserrat, sans-serif;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    list-style: none;
}

/* Singoli elementi del menu */
.menu-item {
    position: relative;
    margin: 0 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.menu-item:hover {
    border-color: white;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 200ms ease-in-out;
}

.menu-link:hover {
    color: #ff7f50;
}

/* Aggiunta di una linea visibile attorno agli elementi attivi */
.menu-item.active {
    border-color: white;
}

/* Stile del titolo centrato */
#titolo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4.9em;
    font-family: Montserrat, sans-serif;
    color: white;
    padding: 10%;
    flex-direction: column;
}

#who{
    background-color: #ff7962;
    margin-top: 20px ;
    width: 170px;
    height: 35px;
    font-weight: bold;
    font-size: 20%;
    color: #fff;
    font-family: Montserrat, sans-serif;
    transition: 0.1s;
    padding: 0px;
    border-radius: 15px;
    border-color: #ff7962;
}

#who:hover {
    background-color: #941600;
    border-color: #941600;
    
}

#mainContent {
    padding: 20px;
    font-family: Montserrat, "sans-serif";
    color: #4F5558;
    background-color: #ece4e4;
}

#titolo2{
    font-size: 26px;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    padding: 2%;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-item {
    text-align: center;
    max-width: 450px;
    font-family: Montserrat, "sans-serif";
}

.image-item img {
    width: 100%;
    height: auto;
    border: 3px dashed #ff7962;
    border-radius: 10px;
}

.Sottotitoli{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4F5558
}

.Descrizioni{
    font-size: 14px;
    font-family: Lato, sans-serif;
    text-align: left;
    margin: 0;
    color: #697277;
}

.button {
    float: left;
    background-color: #ff7962;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    transition: 0.1s;
}