#logo-image-container{
    flex-basis: 77px;
    max-width: 77px; 
    flex-shrink: 1;
}

.header{
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    transition: background 200ms ease-in-out;    
}

.menu{
    display: flex;
    margin-left: auto;
    
}

