#main-menu {
    font-size: 30px; /* Increased */
}

.menu-link {
    font-size: 22px; /* Increased */
}

#titolo {
    font-size: 82px; /* Increased */
}

#who {
    font-size: 22px; /* Increased */
}

#titolo2 {
    font-size: 28px; /* Increased */
}

.Sottotitoli {
    font-size: 22px; /* Increased */
}

.Descrizioni {
    font-size: 16px; /* Increased */
}

.button {
    font-size: 18px; /* Increased */
}

#footerButton {
    font-size: 17px; /* Increased */
}

#footerTitle {
    font-size: 26px; /* Increased */
}

#footerText {
    font-size: 18px; /* Increased */
}

#footerCopy {
    font-size: 1.1em; /* Increased */
}

#subsTitle {
    font-size: 22px; /* Increased */
}

#subsDescription {
    font-size: 16px; /* Increased */
}

#subsButton {
    font-size: 15px; /* Increased */
}
