html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Stile del contenitore del logo */
#logo-image-container {
    flex-basis: 77px;
    max-width: 77px;
    flex-shrink: 1;
    float: left;
}

/* Stile generale dell'header */
.header {
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background 200ms ease-in-out;
}

/* Menu e layout */
.menu {
    display: flex;
    margin-left: auto;
    min-height: 40px;
    max-width: 100%;
    position: relative;
    align-items: center;
}

#main-menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-family: Montserrat, sans-serif;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    list-style: none;
}

/* Singoli elementi del menu */
.menu-item {
    position: relative;
    margin: 0 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.menu-item:hover {
    border-color: white;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 200ms ease-in-out;
}

.menu-link:hover {
    color: #ff7f50;
}

/* Aggiunta di una linea visibile attorno agli elementi attivi */
.menu-item.active {
    border-color: white;
}

/* Stile del titolo centrato */
#titolo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4.9em;
    font-family: Montserrat, sans-serif;
    color: white;
    margin-top: 15%;
    flex-direction: column;
}

button{
    background-color: #ff7962;
    margin-top: 20px ;
    width: 170px;
    height: 35px;
    font-weight: bold;
    
    color: #fff;
    font-family: Montserrat, sans-serif;
    transition: 0.1s;
    padding: 10px;
    border-radius: 15px;
    border-color: #ff7962;
}

button:hover {
    background-color: #941600;
    
}